version: "3.9"

services:

  vue-app:
    build: ./app
    container_name: vue-app
    restart: always
    expose:
      - "80"

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "5010:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - vue-app
    restart: always
