version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    expose:
      - "3000"

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx_app
    ports:
      - "5010:80"
    depends_on:
      - backend
    restart: always
